<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Natours | Exciting tours for adventurous people
    //- inject:css
    //- endinject
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900")
    link(rel="stylesheet", href="assets/css/icon-font.css")
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="shortcut icon" type="image/png" href="assets/img/favicon.png")
  body
    header.header
      .header__logo-box
        img(src="assets/img/logo-white.png", alt="")
      .header__text-box
        h1.heading-primary
          span.heading-primary--main outdoors
          span.heading-primary--sub is where live happens
        a(href="#").btn.btn--white.btn--animated Discover our tours
    main
      section.section-about.section
        .u-text-center
          h2.heading-secondary Exciting tours for adventurous people
