/* COLORS */
$color-green-light: #7ed56f
$color-green-medium: #55c57a
$color-green-dark: #28b485
$color-gray-light-1: #f7f7f7
$color-gray: #777777
$color-gray-dark: #333
$color-white: #ffffff
$color-black: #000000 
$color-yellow-light:  #ffb900
$color-yellow-dark:  #ff7730
$color-blue-light:  #2998ff
$color-blue-dark:  #5643fa


/* FONT */
$default-font-size: 16px

/* GRID */
$grid-width: 1140px
$gutter-vertical: 80px
$gutter-horizontal: 60px
